
body {
    background-image: url("../assets/images/Cocktailbackground.jpg");
    background-size: cover;

  }

  body,
  html {
    height: 100%;
  }

.header h1 {
    margin-top: 50px;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 75px;
    border-bottom-style: white ;
}

.header p {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: white
}

#btn {
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    width: 150px;
    cursor: pointer;
}

.quiz {
    text-align: center;
   /* display: none;*/
}

#question {
    margin: 20px;
    font-size: 25px;
}

#answer-btn {
    display: inline-block;
    padding: 20px;
}

.answerBTN {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    width: 190px;
    font-size: 20px;
    box-shadow: 1.5px 1.5px orange;
}

.answerBTN:hover {
    background-color: gray;
}

.random {
    background-color: black;
    color: white;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    width: 150px;
    cursor: pointer;
}

#question {
    color: white;
}

#resultContainer {
    color: black;
    background-color: rgba(255, 255, 255, 0.608);
    margin: 75px;
    padding: 30px;
}

#drink-name {
    text-align: center;
    font-size: 25px;
}

#instructions {
    text-align: center;
}